* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: white; /*#2c2c2c*/
  color: black;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Header bar */
.topbar {
  background-color: #2c2c2c; /*#1f1f1f*/
  color: white;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-left: 220px;
  z-index: 100;
  font-size:24px;
  overflow: auto;
}

/* Side navigation menu */
.sidebar {
  margin-top: 0;
  top: 60px;
  padding-bottom: 5rem;
  height: 100%;
  width: 200px;
  background-color: #3a3a3a;
  position: fixed;
  overflow-y: scroll;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
/* #4a90e2 #e67e22*/
  .sidebar a.active {
  background-color: #4a90e2;
  color: #1f1f1f;
}

/* Hover link */
.sidebar a:hover:not(.active) {
  background-color: #4a4a4a;
  color: white;
}

/* Page content. margin-left = sidebar width */
.content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
}

/* Responsive - tablet */
@media screen and (max-width: 700px) {
  .topbar {
    font-size: 20px;
    padding-left: 0px;
    justify-content: center;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;
  }
  .content {margin-left: 0;
  }
}

/* Responsive - mobile */
@media screen and (max-width: 400px) {
  .topbar {
    font-size: 16px;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
}