* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100vh;
  background-color: rgba(10, 0, 44, 0.594);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px;
}

.sidebar .logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.sidebar .nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar .nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.sidebar .nav-links a:hover {
  color: #ff9800;
}


.content {
  margin-left: 240px;
  padding: 20px;
}
